<div id="main_div">
  <h1>{{ project?.caption }}</h1>
  <p class="user-text">
    {{ project?.description }}
  </p>

  <p id="largeP" *ngIf="project?.projectDescriptionChapters"></p>
  <div *ngFor="let chapter of project?.projectDescriptionChapters; let in=index">
    <h2 id="chapterTitle">
        <span *ngIf="!project.projectDescriptionChapters[in].expanded" (click)="expandChapter(in)" class="glyphicon glyphicon-arrow-right" id="chapterExpander"></span>
        <span *ngIf="project.projectDescriptionChapters[in].expanded" (click)="collapseChapter(in)" class="glyphicon glyphicon-arrow-down" id="chapterExpander"></span>
        {{ chapter.title }}</h2>
    <p *ngIf="project.projectDescriptionChapters[in].expanded" class="user-text">
      {{ chapter.text }}
    </p>
  </div>

  <div *ngIf="project?.projectResources.length != 0">
    <p id="largeP"></p>
    <h2>Related links: </h2>
  </div>
  <div *ngFor="let resource of project?.projectResources">
    <a href="{{ resource.link }}" target="_blank" id="resLink">{{ resource.link }}</a>
  </div>
</div>
<div id="dateDiv">{{ project?.creationDate }}</div>
<div id="projectAuthorDiv">Author: {{ project?.author.username }}</div>

<p id="largeP"></p>
<p id="largeP"></p>
<h2 *ngIf="project?.comments.length != 0 || username">Comments:</h2>

<app-project-comment *ngFor="let comment of project?.comments" [commentData]="comment" [projectAuthorName]="project?.author.username">
</app-project-comment>

<div *ngIf="newCommentPosted" class="alert alert-warning">
  Newly posted comments are viewed in <strong>preview mode</strong>. To view them in standard mode and enable posting subcomments, please <strong>refresh</strong> this page.
</div>

<div *ngIf="username; else loginCommentInfo">
  <form name="commentForm" (ngSubmit)="commentF?.form?.valid && postComment()" #commentF="ngForm">
    <div class="form-group">
      <h4 for="commentText">Write a comment:</h4>
      <textarea class="form-control" rows="3" name="commentText" [(ngModel)]="model.commentText" required #commentText></textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-lg">Post as '{{ username }}'</button>
    </div>
    <div *ngIf="commentPersistenceError" class="alert alert-danger">An <strong>error</strong> occured while posting your comment.</div>
  </form>
</div>

<ng-template #loginCommentInfo>
  <p id="loginCommentP">To post comments, you need to be logged in.</p>
</ng-template>