@import '~bootstrap3/dist/css/bootstrap.min.css';

h3 {
    font-weight: bold;
}

textarea {
    min-width: 100%;
    max-width: 100%;
}

#endGap {
    height: 2px;
}

#commentText {
    word-break: break-word;
}

#dateP {
    color: grey;
    font-size: .7em;
}

#subcommentDiv {
    margin-left: 5%;
}

#commentingControl {
    color: #83ae00;
}