@import '~bootstrap3/dist/css/bootstrap.min.css';

textarea {
    min-width: 100%;
    max-width: 100%;
}

#endGap {
    height: 2px;
}

#commentText {
    word-break: break-word;
}

#subcommentDiv {
    margin-left: 5%;
}

#commentingControl {
    color: #83ae00;
}