@import '~bootstrap3/dist/css/bootstrap.min.css';

#gap {
    height: 7px;
}

.infoP {
    color: grey;
    font-size: .8em
}

#countInfo {
    display: inline-block;
}

#pagerDiv {
    float: right;
}

.pagerButton {
    font-size: 1.1em;
    color: #83ae00;
}

#prevButton {
    float: left;
}

#orderInfo {
    text-align: center;
    display: inline-block;
}